html {
    font-size: 10px;
}

body {
    background-color: #4A628A;
    font-size: 1rem;
    margin: 5rem auto;
    width: 80%;
    padding: 20px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}

.header .logo {
    max-width: 20rem;
}

.header .menu {
    max-width: 1rem;
    height: auto;
    cursor: pointer;
}

.header .box {
    width: 7rem;          
    height: 6rem;        
    background-color: #D4EBF8;  
    border-radius: 2rem; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    display: flex;         
    justify-content: center; 
    align-items: center;
    position: relative;
    cursor: pointer;   
    z-index: 3;
}

#menu {
    position: absolute;
    top: 7rem; /* Adjust based on your button height */
    background-color: white;
    border: 6px solid #001F3F;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30rem; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    transform: translateY(-20rem);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0s 0s;
    background-color: #001F3F;
}

#menu.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform 0.3s ease, opacity 0.6s ease, visibility 0.3s ease;
}
#menu a {
    font-size: 3rem;
    text-decoration: none;
    background-color: #0A3981;
    color: white;    
    padding: 1.5rem 4rem;
    border-radius: 40px;
    margin: 5px 0;
    display: block;
}

#menu a:hover {
    background-color: #f0f0f0;
}

.title {
    align-items: center;
    text-align: center;
    font-size: 6rem;
    color: #DFF2EB;
    border-bottom: 2px solid #DFF2EB;
    box-sizing: border-box;
    padding-bottom: 20px;
}

/* GEOGRAPHY SECTION */

.geography {
    /* background-color: #001F3F; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.geography .left {
    flex: 2;
    justify-content: center;
}

.geography .row {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    position: relative;
    transition: all 0.5s ease;
}

.geography .row.middle {
    margin-left: 5rem;
}

.geography .image {
    width: 35%;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.geography h3 {
    margin: 0;
    display: inline-block;
    font-size: 10rem;
    color: #D4EBF8; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    transition: all 0.5s;
}
.geography .arrow {
    color:#D4EBF8;
    position: relative;
    top: -1rem;
}
.geography h3:hover {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); 
}

.geography a {
    text-decoration: none;
    display: inline-block;
}
.geography .image a {
    display: block; 
    width: 100%;
    height: 100%;
}

.geography .left img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    opacity: 1;
    border-radius: 5rem;
    transition: all 0.3s;
}

.geography .left img:hover {
    opacity: 0.8;
}

.geography .image-info1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5rem;
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    opacity: 1;
    transition: opacity 0.5s ease; 
    border-radius: 1rem;
    z-index: 3;
}

.geography .image-info1:hover {
    opacity: 0.8;
}
.geography p {
    position: absolute;

    left: 40%;
    visibility: hidden;
    opacity: 0;
    
    font-size: 5rem;
    color: whitesmoke;

    transition: opacity 0.5s ease;
    
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}
.geography .row.middle p{
    transform: translateX(-7.5%);
}
.geography span {
    color: #6aaa64;
    font-weight: bold;
}
.geography .row.active .image {
    transform: translateX(-40%);
}

.geography .row.active p {
    visibility: visible;
    opacity: 1;
}

.geography .row.active h3 {
    visibility: hidden;
    opacity: 0;
}

.geography .background {
    color: #D4EBF8;
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}


.geography .right {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.geography .right img{
    flex: 1;
    width: 100%;
    object-fit: cover;
    display: block;
}

#geography .cycling-text .word {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    padding-top: 1rem;
    padding-left: 2rem;
}

#geography .cycling-text .word.active {
    opacity: 1;
}

#geography {
    position: relative;
    padding-right: 30rem;
}
/* MUSIC */

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120rem;
}

.music .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    gap: 2rem;
}

.music .sound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    gap: 2rem;
}

.music .row:first-child {
    flex:3;
}
.music .row:last-child {
    flex:1;
}

.music .image {
    padding-right: 2rem;
    display: flex;
    height: 35%;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.music h3 {
    margin: 0;
    display: inline-block;
    font-size: 10rem;
    color: #D4EBF8; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    transition: all 0.5s;
    margin-bottom: 5rem;
}

.music .column.active h3 {
    visibility: hidden;
    opacity: 0;
}

.music .background {
    color: #D4EBF8;
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}

.music .column.active .image {
    transform: translateY(-60%);
}

.music p {
    position: absolute;
    margin: 0px 15rem;
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
    font-size: 5rem;
    color: whitesmoke;
    transition: opacity 0.5s ease, visibility 0s 0s;
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}

.music span {
    color: #6aaa64;
    font-weight: bold;
    white-space: normal;
    display: inline;
}

.music .column.active p {
    visibility: visible;
    opacity: 1;
}

.music .image a {
    display: block; 
    width: 100%;
    height: 100%;
}

.music img {
    width: 100%;
    height: 45rem;
    border-radius: 3rem;
}

.music .column {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.music .image-info2 {
    position: absolute;
    top: 0px;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    opacity: 1;
    transition: opacity 0.3s ease; 
    border-radius: 2rem;
    z-index: 3;
}

.music .image-info2:hover {
    opacity: 0.8;
}

.music .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.music .icon:hover {
    transform: scale(1.1);
}
.music .icon img{
    width: 50%;
    height: 50%;
}

#music .cycling-text .word {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    padding-top: 1rem;
    padding-left: 2rem;
}

#music .cycling-text .word.active {
    opacity: 1;
}

#music{
    position: relative;
    padding-right: 30rem;
}
/* NYC */
.nyc {
    width: 100%;
    padding: 1rem;
}

.nyc .row {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    height: 45rem;
}

.nyc .row:last-child{
    background-color: #10142c;
    flex-direction: column;
    border-radius: 5rem;
}

.nyc .row:last-child h3 {
    font-size: 300%;
    color: white;
}

.nyc a {
    text-decoration: none;
}

.nyc #wordle {
    padding-top: 5rem;
    display: flex;
    font-size: 15rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nyc #wordle span {
    display: inline-block;
    background-color: #6aaa64;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    margin: 0 2rem;
    transition: transform 0.3s ease, top 0.3s ease;
    position: relative;
}

.nyc #wordle span.jumping {
    animation: jump 0.3s ease forwards;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5rem);
    }
}

.nyc .row img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 2rem;
}

.nyc .image a {
    width: 70%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.nyc .image {
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}

.nyc .blackbox {
    position: absolute;
    width: 5.2%;
    height: 14.3%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    transition: all 0.5s ease; 
}

.nyc .blackbox.right{
    top: 30.188%;
    right: 43%;
}

.nyc .blackbox.left{
    top: 30.188%;
    left: 43%;
}

.nyc .row a:hover ~ .right{
    right: 30%;
}

.nyc .row a:hover ~ .left{
    left: 30%;
}

.nyc .row .image.first a:hover {
    opacity:0.8;
}

/* ANIME */
.anime {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.anime .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    
}

.anime .image {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    position: relative;
}

.anime .image .left {
    justify-content: flex-start;
}

.anime .image .right {
    justify-content: flex-end;
}

.anime .image img {
    width: 100%;
    max-height: 80%;
    height: auto;
    object-fit: contain;
    border-radius: 2rem;
}

.anime p {
    font-size: 5rem;
    color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    position: absolute;
    padding: 2rem;
    border-radius: 2rem;
    max-width: 30%;
    background-color: #10142c;
    margin-bottom: 12rem;
}

.anime .left-p {
    right: 10%;
}

.anime .right-p {
    left: 10%;
}

.anime .image-info1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5rem;
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.anime .image.right .image-info1 {
    z-index: 10;
}


.anime .image-info1:hover {
    opacity: 0.8;
}

.anime .row.active .image.left{
    transform: translateX(-40%);
}

.anime .row.active .image.right{
    transform: translateX(40%);
}

.anime .row.active p {
    opacity: 1;
    visibility: visible;
}

.anime span {
    color: #6aaa64;
    font-weight: bold;
    white-space: normal;
    display: inline;
}

.anime .image.right a {
    display: inline-block; 
    width: 100%;
    height: 100%;
}
.anime .cycling-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 100%;
}

.anime .image.right img {
    width: 100%;
    position: absolute;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s ease; 
    margin-bottom: 8rem;
}
.anime .image.right img.active {
    opacity: 1;
}

/* RANDOM */

.random .row {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    position: relative;
    transition: all 0.5s ease;
}

.random .image {
    flex: 1;
    width: 35%;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.random .image-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.random h3 {
    margin-right: 10rem;
    margin: 0;
    display: inline-block;
    font-size: 10rem;
    color: #D4EBF8; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-family: 'Arial', sans-serif; 
    text-align: center; 
    transition: all 0.5s;
}
.random .arrow {
    color:#D4EBF8;
    position: relative;
    top: -1rem;
}
.random h3:hover {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); 
}

.random .image a {
    text-decoration: none;
    display: block; 
    align-items: center;
    justify-content: left;
    width: 50rem;
    height: 30rem;
}

.random img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    opacity: 1;
    border-radius: 5rem;
    transition: all 0.3s;
}

.random .image-info1 {
    position: absolute;
    top: 0px;
    left: 0pxx;
    width: 5rem;
    height: 5rem;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    opacity: 1;
    transition: opacity 0.5s ease; 
    border-radius: 1rem;
    z-index: 3;
}

.random .image-info1:hover {
    opacity: 0.8;
}
.random p {
    position: absolute;

    left: 40%;
    visibility: hidden;
    opacity: 0;
    
    font-size: 4rem;
    color: whitesmoke;

    transition: opacity 0.5s ease;
    
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}
.random span {
    color: #6aaa64;
    font-weight: bold;
}

.random .row.active p {
    display: visible;
    visibility: visible;
    opacity: 1;
}
.random .row.active .image {
    transform: translateX(-20%);
}
.random .row.active h3 {
    visibility: hidden;
    opacity: 0;
}

.random .background {
    color: #D4EBF8;
    background-color: #10142c;
    padding: 2rem;
    border-radius: 2rem;
}

@media (max-width: 2100px) {
    html {
        font-size: 9px; 
    }
    .geography .arrow {
        display: none;
    }
    .music p {
        margin: 0px 10rem;
    }
} 

@media (max-width: 1800px) {
    html {
        font-size: 8px;
    }
    .random p {
        font-size: 3rem;
    }
    .random h3 {
        font-size: 8rem;
    }
    .music p {
        margin: 0px 3rem;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 8px;
    }
    .arrow {
        display: none;
    }
    .random p {
        font-size: 3rem;
        left: 50%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 7px; 
    }
}

@media (max-width: 1000px) {
    .header .box {
        margin-right: 6rem;
    }
    html {
        font-size: 7px; 
    }
    
    .random p {
        left: 50%;
    }
    body {
        width: 90%;
        margin: 5rem;
    }
    .random .row.active .image {
        transform: translateX(-10%);
    }
}

@media (max-width: 900px) {
    html {
        font-size: 6px; 
    }
}

@media (max-width: 800px) {
    html {
        font-size: 5px; 
    }
    .music p{
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .header .box {
        margin-right: 10rem;
    }
    html {
        font-size: 4px;
    }
    .music p{
        margin-bottom: 50px;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 3px;
    }
    
}

@media (max-width: 400px) {
    html {
        font-size: 3px;
    }
    .music p{
        font-size: 4.5rem;
    }
}
