body {
    background-color: #4A628A;
    margin: 50px auto;
    width: 80%;
    padding: 20px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.header .logo {
    max-width: 200px;
}

.header .menu {
    max-width: 10px;
    height: auto;
    cursor: pointer;
}

.header .box {
    width: 70px;          
    height: 60px;        
    background-color: #D4EBF8;  
    border-radius: 20px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    display: flex;         
    justify-content: center; 
    align-items: center;
    position: relative;
    cursor: pointer;   
}

#menu {
    position: absolute;
    top: 70px; /* Adjust based on your button height */
    background-color: white;
    border: 6px solid #001F3F;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    transform: translateY(-200px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0s 0s;
    background-color: #001F3F;
}

#menu.show {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: transform 0.3s ease, opacity 0.6s ease, visibility 0.3s ease;
}
#menu a {
    font-size: 30px;
    text-decoration: none;
    background-color: #0A3981;
    color: white;    
    padding: 15px 40px;
    border-radius: 40px;
    margin: 5px 0;
    display: block;
}

#menu a:hover {
    background-color: #f0f0f0;
}

.title {
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: #DFF2EB;
    border-bottom: 2px solid #DFF2EB;
    box-sizing: border-box;
    padding-bottom: 20px;
}

/* GEOGRAPHY SECTION */

.geography {
    /* background-color: #001F3F; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.geography .left {
    flex: 2;
    justify-content: center;
}

.geography .right {
    flex: 1;
}

.geography .row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
    transition: all 0.5s ease;
}

.geography .image {
    width: 35%;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.geography .image a {
    display: block; 
    width: 100%;
    height: 100%;
}

.geography .left img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 1;
    
}

.geography .image-info1 {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.geography .image-info1:hover {
    opacity: 0.8;
}
.geography p {
    position: absolute;

    left: 40%;
    visibility: hidden;
    opacity: 0;
    
    font-size: 50px;
    color: whitesmoke;

    transition: opacity 0.5s ease;
    
}
.geography .row.active .image {
    transform: translateX(-80%);
}

.geography .row.active p {
    visibility: visible;
    opacity: 1;
}

.geography .right {
    position: relative;
    overflow: hidden;
}

.geography .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* MUSIC */

.music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

.music .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    gap: 20px;
}

.music .sound-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    gap: 20px;
}

.music .row:first-child {
    flex:3;
}
.music .row:last-child {
    flex:1;
}

.music .image {
    padding-right: 20px;
    display: flex;
    height: 35%;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.music .column.active .image {
    transform: translateY(-30%);
}

.music p {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0px 200px;
    top: 170%;
    opacity: 0;
    visibility: hidden;
    font-size: 50px;
    color: whitesmoke;
    transition: opacity 0.5s ease, visibility 0s 0s;
}

.music .column.active p {
    visibility: visible;
    opacity: 1;
}

.music .image a {
    display: block; 
    width: 100%;
    height: 100%;
}

.music img {
    width: 350px;
    height: 350px;
}

.music .column {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.music .image-info2 {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.music .image-info2:hover {
    opacity: 0.8;
}

.music .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.music .icon:hover {
    transform: scale(1.1);
}
.music .icon img{
    width: 50%;
    height: 50%;
}

/* NYC */
.nyc {
    width: 100%;
    padding: 10px;
}

.nyc .row {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.nyc .row:last-child{
    background-color: white;
    flex-direction: column;
}

.nyc .row:last-child h3 {
    font-size: 300%;
}



.nyc a {
    text-decoration: none;
}

.nyc #wordle {
    display: flex;
    font-size: 150px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nyc #wordle span {
    display: inline-block;
    background-color: #6aaa64;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    margin: 0 20px;
    transition: transform 0.3s ease, top 0.3s ease;
    position: relative;
}

.nyc #wordle span.jumping {
    animation: jump 0.3s ease forwards;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

.nyc .row img{
    width: 100%;
    height: 100%;
    display: block;
}

.nyc .image a {
    width: 60%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.nyc .image {
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
}

.nyc .blackbox {
    position: absolute;
    width: 5.2%;
    height: 14.3%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    transition: all 0.5s ease; 
}

.nyc .blackbox.right{
    top: 30.188%;
    right: 44.4%;
}

.nyc .blackbox.left{
    top: 30.188%;
    left: 44.2%;
}

.nyc .row a:hover ~ .right{
    right: 30%;
}

.nyc .row a:hover ~ .left{
    left: 30%;
}

.nyc .row .image.first a:hover {
    opacity:0.8;
}

/* ANIME */
.anime {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.anime .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    
}

.anime .image {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    position: relative;
}

.anime .image .left {
    justify-content: flex-start;
}

.anime .image .right {
    justify-content: flex-end;
}

.anime .image img {
    width: 100%;
    max-height: 80%;
    height: auto;
    object-fit: contain;
}


.anime p {
    font-size: 50px;
    color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    position: absolute;
    padding-bottom: 100px;
    max-width: 30%;
}

.anime .left-p {
    right: 10%;
}

.anime .right-p {
    left: 10%;
}

.anime .image-info1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.anime .image-info1:hover {
    opacity: 0.8;
}

.anime .row.active .image.left{
    transform: translateX(-40%);
}

.anime .row.active .image.right{
    transform: translateX(40%);
}


.anime .row.active p {
    opacity: 1;
    visibility: visible;
}